.genres-page {
  padding: 20px;
}

.movies-section-style {
  margin-top: 10px;
  position: relative;
  bottom: 80px;
}

.genre-title {
  max-width: 80%;
  color: #ff0000;
  font-size: 34px;
  line-height: 2;
  position: relative;
  left: 180px;
  bottom: 30px;
  border-bottom: 2px solid rgb(64, 62, 62);
}

.movies-list-style {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  max-width: 80%;
  justify-items: center;
  margin: 0 auto;
}
.movie-card-style {
  position: relative;
  background-color: #2e2e2e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 220px;
}

.movie-card-style img {
  width: 100%;
  max-height: 260px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease;
}

.movie-title-style {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0 0 8px 8px;
}

.title {
  margin-top: -90px;
}

.movie-card-style:hover .movie-title-style {
  opacity: 1;
}
.actor-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 60px;
}

.actor-info {
  display: flex;
  margin-bottom: 20px;
}

.actor-image {
  margin-right: 20px;
  border-radius: 8px;
  max-width: 200px;
}
.about-section {
  background: none;
}

.actor-bio {
  flex: 1;
}

.actor-bio hr {
  margin: 10px 0;
}

.actor-bio p {
  margin: 5px 0;
}

.movies-list-style {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.movie-card-style {
  position: relative;
  background-color: #2e2e2e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 220px;
}

.movie-card-style img {
  width: 100%;
  max-height: 260px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease;
}

.movie-card-style:hover img {
  transform: scale(1.1);
}

.movie-title-style {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0 0 8px 8px;
}

.movie-card-style:hover .movie-title-style {
  opacity: 1;
}
.actor-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.actor-info {
  display: flex;
  width: 100%;
  max-width: 800px; /* Adjust max-width as needed */
}

.actor-picture {
  flex: 0 0 300px; /* Fixed width for the image */
  margin-right: 20px;
}

.actor-picture h2 {
  margin-bottom: 10px;
}

.actor-picture img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section {
  flex: 1; /* Take remaining width */
  padding-left: 20px;
}

.about-section h3 {
  margin-top: 60px;
  margin-bottom: 10px;
  color: #3498db;
}

.about-section p {
  margin-bottom: 8px;
  color: #000;
}

.movies-section {
  margin-top: 20px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie-item {
  width: calc(10% - 10px);
  background-color: #fff;
  border: 4px solid #3498db;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.movie-item:hover {
  transform: translateY(-5px);
}

.movie-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.movie-title {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
}

.no-image {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border-radius: 8px;
}
.search-heading {
  margin: 60px;
}
